
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h3>
    <%= image_tag(@team.logo) if @team.logo? %><br><br><%= @team.name %><br><br>
    <%= link_to 'Описание', @team.wiki%><br>
      </h3>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @team.stats.any? %>
      <h3>Выберите сезон </h3>
      <ol class="microposts">
        <%= render 'shared/team_stat' %>
      </ol>
      
    <% end %>
  </div>
</div>